{% extends 'base.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/success.css')}}">
<h1>Merci de votre interet !</h1>
{% endblock %}
