
<footer style="background-color: rgb(15, 153, 75);">
    <div class="card m-5" id="subscribe" style="background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(2, 72, 108, 1) 35%, rgba(0, 212, 255, 1) 100%);">
        <div class="card-body m-4">
            <form action="">
                <strong class="text-white">Ne manquez pas de vous abonner à notre newsletter!</strong>
                <label class="input-group mt-2">

                    <input type="text" class="form-control" placeholder="Votre E-mail">
                    <button class="btn btn-success" type="button" id="button-addon2">Subscribe</button>
                </label>
            </form>
        </div>
    </div>

    <div class="text-center fw-bolder">
        <p class="text-decoration-none text-white">
            <a href="#!" class=" text-decoration-none text-white m-2">A Propos</a>
            <a href="#!" class=" text-decoration-none text-white m-2">Acheter</a>
            <a href="#!" class=" text-decoration-none text-white m-2">Location</a>
            <a href="{{path('app_contact')}}" class=" text-decoration-none text-white m-3">Contact</a>
            © 2024 Copyright : FreeImmo
        </p>
    </div>
</footer>

