{% extends 'base.html.twig' %}

{% block title %}New Propertys{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une nouvelle Annonce</h1>

    {{ include('propertys/_form.html.twig') }}


{% endblock %}
